@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

html, body, main {
  width: 100vw !important;
  height: 100vh !important;
  background: #000 !important;
  overflow: hidden !important;
}

/* 确保 Canvas 没有任何缩放偏移 */
canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

/* 隐藏所有元素的滚动条，但依然可以滚动 */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

*::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
}